<!doctype html>
<html lang="en" ng-app="TTRApp">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
      <meta name="description" content="Calculator 1">
      <link rel="icon" href="images/favicon.ico">
      <title>SSO Calculator</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-select.min.css">
      <link rel="stylesheet" href="css/custom.css">
      <link rel="stylesheet" href="bower_components/angularPrint/angularPrint.css" >
   </head>
   <body print-section ng-cloak>
      <div class="otrp-calculator container-fluid " ng-controller="TTRController" >
         <div class=" row title " >
            <div class="col-xs-8 col-sm-9 col-lg-9">
               <h1>Salary Sacrifice Optimisation</h1>
            </div>
            <div print-hide class=" button-wrapper col-xs-4 col-sm-3 col-md-3">              
              <button type="button" class="button print-icon" onclick="window.print()"></button>
              <button type="button" class="button email-icon" title="Email" role="button" aria-controls="email-overlay"></button>
              <button type="button" class="button info-icon" ng-click="infoShow(true)" title="Information"></button>
            </div>
            <!-- <div print-hide class="button-wrapper col-xs-1 col-sm-1 col-lg-1">
               <button type="button" class="button info-icon" ng-click="infoShow(true)" title="Information"></button>
            </div>
            <div print-hide class="button-wrapper col-xs-1 col-sm-1 col-lg-1">
               <button type="button" class="button email-icon" title="Email" role="button" aria-controls="email-overlay"></button>
            </div>
            <div print-hide class="button-wrapper col-xs-1 col-sm-1 col-lg-1">
               <button type="button" class="button print-icon" onclick="window.print()"></button>
            </div> -->
         </div>
         <div class="row content" >
            <div class="col-xs-12 col-sm-12 col-lg-12">
               <div class="row input-div">
                  <div class="col-xs-12 col-sm-12 col-lg-12">
                     <div class="row title-div">
                        <span class="number-wrapper">1</span>
                        <span class="title-wrapper">Your Details</span>
                        <div class="otrp-clear"></div>
                     </div>
                     <!-- <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 ">
                          <span class="amount-header">Amount</span>
                        </div>
                        </div> -->
                     <form name="ttrForm" class="ttr-form" novalidate ng-submit="submitForm(ttrForm.$valid)">
                        <div class="row">
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <label class="standard-label">Date Of Birth<span class="required">*</span></label>
                           </div>
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                              <div class="input-group" ng-class="{'err-border' : ttrForm.dob.$invalid }">
                                 <input type="text" name="dob"
                                    class="standard-input form-control" show-button-bar="false"
                                    uib-datepicker-popup="{{format}}" ng-model="dob" is-open="popup1.opened"
                                    datepicker-options="dateOptions" required close-text="Close"
                                    pattern=".{10,10}"/>
                                 <span class="input-group-addon" ng-click="open1()">
                                 <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                              </div>
                           </div>
                           <!-- <div class="col-xs-4 col-sm-4 col-lg-4"> -->
                           <!-- </div> -->
                        </div>
                        <hr class="submit-hr"/>
                        <!-- <div class="row">
                           <div class="col-xs-4 col-sm-4 col-lg-4">
                             <label class="standard-label">Your Age</label>
                           </div>
                           <div class="col-xs-4 col-sm-4 col-lg-4">
                               <input type="text" name="age" class="standard-input" ng-model="age" readonly="readonly">
                             </div>
                             <div class="col-xs-4 col-sm-4 col-lg-4">
                             </div>
                           </div> -->
                        <div class="row">
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="row ttr-label">
                                 <label style="display:block" class="standard-label">Beginning of the Financial Year<span class="required">*</span></label>
                              </div>
                              <div class="row ttr-note">Please use 1 July of a particular Financial Year Here</div>
                           </div>
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                              <div class="input-group" ng-class="{'err-border' : ttrForm.datePension.$invalid }">
                                 <input type="text" name="datePension" class="standard-input form-control"
                                    show-button-bar="false" uib-datepicker-popup="{{format}}"
                                    ng-model="datePension" is-open="popup2.opened" datepicker-options="dateOptions"
                                    required close-text="Close" pattern=".{10,10}" />
                                 <span class="input-group-addon" ng-click="open2()">
                                 <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                              </div>
                           </div>
                           <!-- <div class="col-xs-4 col-sm-4 col-lg-4"> -->
                           <!-- </div> -->
                        </div>
                        <hr class="submit-hr"/>
                        <div class="row">
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="row ttr-label">
                                 <label style="display:block" class="standard-label">Annual salary exclude SGC<span class="required">*</span></label>
                              </div>
                              <!-- <div class="row ttr-note" ng-show="csesError">Please enter a value between $1 and $300,000</div> -->
                           </div>
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                              <div class="input-group"> 
                              <!-- ng-class="{'err-border' : (ttrForm.excludeSGC.$error.required && !ttrForm.excludeSGC.$pristine) ||  (ttrForm.excludeSGC.$error.required && ttrForm.excludeSGC.$touched)}" -->
                                 <span class="input-group-addon">$</span>
                                 <input type="number"  name="excludeSGC" onClick="this.select();" onClick="this.setSelectionRange(0, this.value.length)" class="standard-input form-control" ng-model="excludeSGC" ng-change="calculateMaxTHP()" required />
                              </div>
                           </div>
                           <!-- <div class="col-xs-4 col-sm-4 col-lg-4"> -->
                           <!-- <div class="err-msg" ng-show="(ttrForm.beforeTTR.$error.required && !ttrForm.beforeTTR.$pristine) ||  (ttrForm.beforeTTR.$error.required && ttrForm.beforeTTR.$touched) || (ttrForm.beforeTTR.$invalid && !ttrForm.beforeTTR.$pristine)">Enter Valid Numeric Value</div> -->
                           <!-- </div> -->
                        </div>
                        <hr class="submit-hr"/>
                        <div class="row">
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="row ttr-label">
                                 <label style="display:block" class="standard-label">Desired Minimum Take Home Salary Per Annum<span class="required">*</span></label>
                              </div>
                              <!-- <div class="row ttr-note" ng-show="thpError">Your Take Home Pay is not attainable</div> -->
                           </div>
                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                              <div class="input-group">
                              <!-- ng-class="{'err-border' : (ttrForm.target.$error.required && !ttrForm.target.$pristine) ||  (ttrForm.target.$error.required && ttrForm.target.$touched )|| ttrForm.target.$invalid }" -->
                                 <span class="input-group-addon">$</span>
                                 <input type="number" name="target" onClick="this.select();" onClick="this.setSelectionRange(0, this.value.length)" class="standard-input form-control" ng-model="target" min="0" ng-change="changeTHP()" required>
                              </div>
                           </div>
                           <!-- <div class="col-xs-4 col-sm-4 col-lg-4"> -->
                           <!-- <div class="err-msg" ng-show="(ttrForm.target.$error.required && !ttrForm.target.$pristine) ||  (ttrForm.target.$error.required && ttrForm.target.$touched) || (ttrForm.target.$invalid && !ttrForm.target.$pristine)">Enter Valid Numeric Value</div> -->
                           <!-- </div> -->
                        </div>
                        <hr class="submit-hr"  print-remove />
                        <div class="row"  print-remove ng-hide="thpError || csesError">
                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <button type="submit" class="btn btn-primary submit-btn" 
                              ng-disabled="ttrForm.$invalid || csesError || thpError">Calculate </button>
                           </div>
                           <!-- <div ng-show="ttrForm.$invalid && !ttrForm.$pristine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              Form contains erronous inputs. Please correct to Submit.
                              </div> -->
                        </div>
                        <div class="row" ng-show="thpError || csesError">
                        <div class="col-xs-12">
                          <p class="error-text" ng-show="thpError && !csesError">
                            This Take Home Pay value is not attainable for your Annual Salary.
                          </p>
                          <p class="error-text" ng-show="csesError">
                            This Calculator only works for a maximum Annual Salary of {{ 300000 | currency }}, due to Div 293 Tax implications. To know more, click on the info button above. 
                          </p>
                        </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="row result-head">
                  <h3 class="results-title">Your Results</h3>
               </div>
               <div class="row result-div">
                <div class="col-xs-12 col-sm-7 col-md-7">
                   
                <div id="container">
                  
                </div>
               
                </div>
                 <div class="col-xs-12 col-sm-5 col-md-5">
                   <div class="row res-1">
                     <div class="col-xs-12">
                       <div class="row"><strong>With Salary Sacrifice it will save you</strong></div>
                       <div class="row res-diff">{{ resultWithoutSS[2] -resultWithSS[2] | currency }}</div>
                     </div>
                   </div>
                   <div class="row res-2" >
                     <div class="col-xs-12">
                        <div class="row res-head"><strong>Your take home money</strong></div>
                        <div class="row">
                          <div class="col-xs-6">Without Salary Sacrifice</div>
                          <div class="col-xs-6 res-value" >{{ resultWithoutSS[0] | currency }}</div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6">With Salary Sacrifice</div>
                          <div class="col-xs-6 res-value">{{ resultWithSS[0] | currency }}</div>
                        </div>
                        <div class="row divider"></div>
                        <div class="row res-head"><strong>Total tax paid</strong></div>
                        <div class="row">
                          <div class="col-xs-6">Without Salary Sacrifice</div>
                          <div class="col-xs-6 res-value">{{ resultWithoutSS[1] | currency }}</div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6">With Salary Sacrifice</div>
                          <div class="col-xs-6 res-value">{{ resultWithSS[1] | currency }}</div>
                        </div>
                        <div class="row divider">
                        </div>                        
                        <div class="row res-head"><strong>Final amount</strong></div>
                        <div class="row">
                          <div class="col-xs-6">Without Salary Sacrifice</div>
                          <div class="col-xs-6 res-value">{{ resultWithoutSS[2] | currency }}</div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6">With Salary Sacrifice</div>
                          <div class="col-xs-6 res-value">{{ resultWithSS[2] | currency }}</div>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="col-xs-12">
                   <p class="strategy">
                              Your optimised Salary Sacrifice value is {{optimisedSS | currency}}.
                           </p>
                 </div>
               </div>
               <!-- <div class="row result-div" ng-show="!unattainableTHPS || attainableTHP">
                  <div class="col-xs-12 col-sm-12 col-lg-12">
                     <div class="row content-result result-subheadings">
                        <div class="option col-xs-3 col-sm-3 col-lg-3">
                           <div><strong>Fields</strong> </div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div><strong>Without SS</strong></div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div><strong>*With SS</strong></div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div><strong>Difference</strong></div>
                        </div>
                     </div>
                     <div class="row content-result">
                        <div class="option col-xs-3 col-sm-3 col-lg-3">
                           <div>Your Take Home Money</div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithoutSS[0] | currency }}</div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithSS[0] | currency }}</div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithoutSS[0] -resultWithSS[0] | currency }}</div>
                        </div>
                     </div>
                     <hr class="submit-hr"/>
                     <div class="row content-result">
                        <div class="option col-xs-3 col-sm-3 col-lg-3">
                           <div>Total Tax Paid</div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithoutSS[1] | currency }}</div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithSS[1] | currency }}</div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithoutSS[1] -resultWithSS[1] | currency }}</div>
                        </div>
                     </div>
                     <hr class="submit-hr"/>
                     <div class="row content-result">
                        <div class="option col-xs-3 col-sm-3 col-lg-3">
                           <div>
                              <p>Final Amount</p>
                              <!-- <p> (Take Home Payment + Increase in Super)</p> 
                           </div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithoutSS[2] | currency }}</div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithSS[2] | currency }}</div>
                        </div>
                        <div class="option col-xs-3 col-sm-3 col-lg-3 option-indent">
                           <div>{{ resultWithoutSS[2] -resultWithSS[2] | currency }}</div>
                        </div>
                     </div>
                     <!-- <div class="row">
                        <div class="center-output">
                          <div class="content-result">
                            <span class="results-label">Additional Pre-Tax Contributions</span>
                                    <span class="value-result">-</span>
                                    <div class="otrp-clear"></div>
                          </div>
                        </div>
                        </div> 
                  </div>
               </div> -->
               <!-- <div class="row result-head" ng-show="(!unattainableTHP || !unattainableTHPS) && calculationsDone">
                  <h3 class="results-title">Strategy</h3>
               </div>
               <div class="row result-div">
                  <div class="col-xs-12">
                     <div class="row unattainable-thp-error" ng-show="(unattainableTHP && !unattainableTHPS) && calculationsDone">
                        <div class="col-xs-12">
                           <p class="strategy">
                              No Salary Sacrifice value meets your minimum take home requirements. Please try changing the input values.
                           </p>
                        </div>
                     </div>
                     <div class="row attainable-thp" ng-show="(!unattainableTHP) && calculationsDone">
                        <div class="col-xs-12">
                           <p class="strategy">
                              Your optimised Salary Sacrifice value is {{optimisedSS | currency}}.
                           </p>
                        </div>
                     </div>
                     <div class="row attainable-thp" ng-show="(unattainableTHP && unattainableTHPS) && calculationsDone">
                        <div class="col-xs-12">
                           <p class="strategy">
                              Your Take Home Payment is not guaranteed with/without a Salary Sacrifice.Please try changing the input values.
                           </p>
                        </div>
                     </div>
                  </div>
               </div> -->
               <!-- <canvas id="myChart" width="400" height="300" style="display:none; height:300px !important;margin-bottom:15px;"></canvas> -->
               <div class="row cta">
                  <div class="col-xs-12">
                     <p>Need to know more <a class="btn btn-default get-in-touch">Get in touch</a></p>
                  </div>
               </div>
               <div class="row disclaimer">
                  <span class="calculator-disclaimer">Information provided by Financial Choice Pty Ltd is general financial advice only. General advice is defined under the new regulations to include information about financial products and financial markets and our current views and outlook for those products and markets. The general advice we provide includes the information you have requested from us directly or via our web site.</span>
               </div>
               <div class="row">
                  <div class="col-xs-12">
                     <img src="images/client-logo.png" class="comp-logo"/>
                  </div>
               </div>
            </div>
         </div>
         <div class="row information-overlay" print-hide>
            <div class="col-xs-12 col-sm-12 col-lg-12 ">
               <div class="row info-title">
                  <div class="col-xs-9 col-sm-9 col-lg-9">
                     <h2>Calculator Information</h2>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-lg-3">
                     <button type="button" class="closeInfo" ng-click="infoShow(false)"></button>
                  </div>
               </div>
               <hr class="submit-hr"/>
               <div class="row info-content">
                  <div class="col-xs-12 col-sm-12 col-lg-12">
                     <p>The Budget planner provides you with a detailed breakdown of your finances. Move through the planner by clicking the tabs relating to the area of interest. None of the fields entered are compulsory so you can use some or all of it.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
      <script src="js/angular.min.js" type="text/javascript"></script>
      <script src="js/bootstrap-select.min.js" type="text/javascript"></script>
      <script src="js/ui-bootstrap-tpls-1.3.3.min.js" type="text/javascript"></script>
      <script src="js/bootstrap.min.js" type="text/javascript"></script>
      <script src="js/app.js" type="text/javascript"></script>
      <script src="js/controller.js" type="text/javascript"></script>
      <script src="js/AgeCalculatorService.js" type="text/javascript"></script>
      <script src="js/TaxRateCalculatorService.js" type="text/javascript"></script>
      <script src="js/SGCRateCalculator.js" type="text/javascript"></script>
      <script src="js/WithoutSSCalculatorService.js" type="text/javascript"></script>
      <script src="js/WithSSCalculatorService.js" type="text/javascript"></script>
      <script src="bower_components/angularPrint/angularPrint.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
      <script src="js/ChartService.js" type="text/javascript"></script>
      <script src="js/hc/highcharts.js" type="text/javascript"></script>
      <script src="js/hc/data.js" type="text/javascript"></script>
      <!-- <script src="js/hc/drilldown.js" type="text/javascript"></script> -->
      <script src="js/hc/chartService.js" type="text/javascript"></script>
      <script src="js/hc/sand-signika.js" type="text/javascript"></script>
      <!-- <script src="js/hc/themes/dark-unica.js" type="text/javascript"></script> -->
      <script>
         $(document).ready(function() {
         $('.selectpicker').selectpicker({
             style: 'btn-default',
             size: 5
         });
         });
      </script>
   </body>
</html>
